{%- assign person = site.data.person -%}
{%- if person -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ person.name | jsonify }},
  "url": {{ person.url | jsonify }},
  "jobTitle": {{ person.jobTitle | jsonify }},
  "description": {{ person.description | jsonify }},
  "sameAs": [
    {%- for profile_url in person.sameAs %}
    {{ profile_url | jsonify }}{% unless forloop.last %},{% endunless %}
    {%- endfor %}
  ]{% if person.knowsAbout %},
  "knowsAbout": [
    {%- for topic in person.knowsAbout %}
    {{ topic | jsonify }}{% unless forloop.last %},{% endunless %}
    {%- endfor %}
  ]
  {% endif %}
}
</script>
{%- endif -%}
