<!doctype html>
<html lang="{{ site.locale | replace: '_', '-' | default: 'en' }}" class="eh-html no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <link rel="stylesheet" href="{{ '/assets/css/editorial-home.css' | relative_url }}">
  </head>

  <body class="eh-body layout--editorial-home">
    {% include masthead.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ '/assets/js/masthead-menu.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/analytics.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/editorial-home.js' | relative_url }}" defer></script>
    <script src="{{ '/assets/js/editorial-masthead.js' | relative_url }}" defer></script>
  </body>
</html>
