---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="social-sharing" style="margin-top: 30px; padding-top: 20px; border-top: 1px solid #e8e8e8;">
    <h3 style="font-size: 1.2em; margin-bottom: 15px;">Share this post:</h3>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | url_encode }}&summary={{ page.excerpt | strip_html | truncate: 140 | url_encode }}&source={{ site.title }}" target="_blank" rel="noopener noreferrer" style="display: inline-block; margin-right: 15px; text-decoration: none;">
      <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="LinkedIn" style="width: 24px; height: 24px; vertical-align: middle;">
      <span style="margin-left: 5px; vertical-align: middle;">LinkedIn</span>
    </a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter.username }}" target="_blank" rel="noopener noreferrer" style="display: inline-block; margin-right: 15px; text-decoration: none;">
      <img src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="X (Twitter)" style="width: 24px; height: 24px; vertical-align: middle;">
      <span style="margin-left: 5px; vertical-align: middle;">X (Twitter)</span>
    </a>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>